<div class="item">
  <div class="item__header">
    <img src="/assets/icons/Check.svg" alt="done" class="item__img">
    <div class="item__info">
      <span class="item__title">{{todoItem.title}}</span>
      <div class="item__meta">
        <span class="item__id">#{{todoItem.id}}</span>
        <span class="item__creator">Creator: {{todoItem.creator}}</span>
        <span class="item__type">[{{todoItem.type}}]</span>
      </div>
      <div class="item__dates">
        <span class="item__date">Create: {{todoItem.createdAt | date:'dd.MM.yyyy HH:mm'}}</span>
        <span class="item__date" *ngIf="todoItem.updatedAt">Update: {{todoItem.updatedAt | date:'dd.MM.yyyy HH:mm'}}</span>
      </div>
    </div>
    <span
      [ngClass]="isShowDescriptions ? 'item__alt-hide' : ''"
      (click)="isShowDescriptions = !isShowDescriptions"
      class="item__hide">></span>
  </div>
  <div class="item__description" [ngClass]="{'show': isShowDescriptions}">
    <textarea cols="20" rows="10" [(ngModel)]="description" class="textarea"></textarea>
    <div>
      <button
        class="button"
        (click)="emitChangeStatus(todoStatus.IN_PROGRESS)">In work</button>
      <button class="button" (click)="emitChangeStatus(todoStatus.DONE)">Done</button>
      <button
        class="button"
        (click)="emitDeleteItem()">Delete</button>
    </div>
  </div>
</div>
