<h1 style="display: flex; justify-content: center">ToDo</h1>
<main class="main">
  <div class="main__controls">
    <button class="button" (click)="addGroup()">Add group</button>
  </div>
  <app-todo-group
    [index]="i"
    [todoGroup]="group"
    (changeTitleEvent)="handleChangeTitle($event)"
    (deleteGroup)="handleEventGroup($event)"
    (addNewItem)="handleNewItem($event)"
    (changeDescription)="handleChangeDescription($event)"
    (changeItemStatus)="handleChangeStatus($event)"
    (deleteItem)="handleDeleteItem($event)"
    *ngFor="let group of todoGroups; let i = index;">

  </app-todo-group>
  <app-todo-modal *ngIf="showModal" 
                  (submitEvent)="handleModalSubmit($event)"
                  (closeEvent)="handleModalClose()">
  </app-todo-modal>
</main>
